body{
	text-align: center;
	font-family: arial;
	margin: 0;
	padding: 0;

}

ul{
	list-style: none;
	margin-left: 0px;
}
a{
	color: #484848;
}
li{
	line-height: 25px;

}
figcaption{
	font-size: 10px;
}
.navegation{
	background-color: #c4170c;
	color: white;

}.navegation h1{
	margin-top: 0;
	height: 50px;
	line-height: 60px;
}
.navegation h2 {
	background-color: #b0140a;
	
}


.titulo-artigo h1{
	margin-left: 150px;
	margin-right: 120px;
	font-size:48px;
}
.titulo-artigo h2{
	margin-left: 200px;
	margin-right: 120px;
	font-size:18px;
	color: #484848;
}


.content{
	width: 45%;
	margin:auto;
	margin-top: 50px;
	margin-bottom: 100px;
	text-align: left;

}
.content img{
	width: 600px;
	margin-top: 10px;
}

.content h3{
	font-size: 12px;
}
.content p{
	font-size: 18px;
	line-height: 25px;
	text-align : justify;
	color: #484848;
}

@media screen and (max-width:992px){

	.navegation{
		text-align: center;
	}
	.content{
		width: 90%;
	}
	.content img{
		text-align: center;
		width: 100%;
		margin-top: 80px;
	}
	.titulo-artigo h1{
		font-size: 80px;
		margin-left: 20px;
		margin-right: 20px;

	}
	.titulo-artigo h2{
		font-size: 15px;
		margin-left: 100px;
		margin-right: 70px;
	}
	iframe{
		width: 100%;
		height: 450px;
	}
	li{
		margin-bottom: 30px;
	}
}
